.imagens{
	width: 100%;
	height: auto;
	background-color: white;
	padding: 10px;
}

.img-fluid{
	width: 141px !important;
	margin: 2px 2px 5px 2px;
	transition: transform .3s;
}

.img-fluid:hover{
	cursor: pointer;
	transform: scale(1.1); /* Zoom de 110% */
}